# docker-compose.yaml
version: '3'
services:
    database:
        image: mysql:5.7
        environment:
            MYSQL_USER: main
            MYSQL_ROOT_PASSWORD: main
            MYSQL_DATABASE: main
            MYSQL_PASSWORD: main
        ports: [3306:3306]
        
    redis:
        image: redis:5-alpine
        ports: [6379]
        
    rabbitmq:
        image: rabbitmq:3.8-management
        ports: [5672, 15672]
 