# docker-compose.yaml
version: '3'
services:
    database:
        image: mysql:5.7
        environment:
            MYSQL_USER: main
            MYSQL_ROOT_PASSWORD: main
            MYSQL_DATABASE: main
            MYSQL_PASSWORD: main
        ports: [3306]